{% extends 'base.html' %}


{% block content %}

    <h2 class="my-5">Create new spell</h2>
    <form action="/spell/new" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
            <input type="text" class="form-control" name="name" id="name" placeholder="Spell's name" required>
        </div>

        <div class="mb-3">
            <input type="text" class="form-control" name="school" id="school" placeholder="School" required>
        </div>

        <div class="mb-3">
            <input type="number" class="form-control" name="level" id="level" placeholder="Level" required>
        </div>

        <div class="mb-3">
            <textarea class="form-control" name="description" id="description" placeholder="Describe it"></textarea>

        </div>

        <div class="mb-3">
            <label>Upload the spell's image</label>
            <input type="file" class="form-control" name="image" id="img-file" required>
        </div>

        <button type="submit" class="btn btn-secondary">Save</button>

</form>

{% endblock %}